.some_campaigns .panel-body {
    background-color: #fff;
}
.archive-content article .content-inner {
    height: 100%;
}
@media (min-width: 1200px) {
.container {
    width: 1200px !important;
}
}
#rev_slider_1_1 li .content-text {
    white-space: nowrap;
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    color: rgba(255, 255, 255, 1.00);
    text-align: center;
    text-transform: left;
}
#rev_slider_1_1 li .title-text {
    white-space: nowrap;
    text-transform: left;
    border-radius: 30px 30px 30px 30px;
    outline: none;
    box-shadow: none;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    cursor: pointer;
}
#rev_slider_1_1 li .title-text a {
    color: #fff
}
#rev_slider_1_1 li h3 {
    white-space: nowrap;
    font-size: 60px;
    line-height: 102px;
    font-weight: 700;
    color: rgba(255, 255, 255, 1.00);
    text-align: center;
    text-transform: none;
}
h3.title {
    font-size: 24px;
    font-weight: 700;
}
.comments-container h1 {
    font-size: 36px;
    color: #283035;
    font-weight: 400;
}
.comments-container h1 a {
    font-size: 18px;
    font-weight: 700;
}
.comments-list {
    margin: 0;
    position: relative;
}
.comment-main-level .comment-box {
    padding-left: 0;
}
.comments-list li {
    margin-bottom: 15px;
    display: block;
    position: relative;
}
.comments-list li:after {
    content: '';
    display: block;
    clear: both;
    height: 0;
    width: 0;
}
.reply-list {
    padding-left: 88px;
    clear: both;
    margin-top: 15px;
}
/*** Avatar -----*/
.comments-list .comment-avatar img {
    width: 100%;
    height: 100%;
    border: 3px solid #FFF;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}
.reply-list .comment-box {
    padding-left: 0;
}
.comment-main-level:after {
    content: '';
    width: 0;
    height: 0;
    display: block;
    clear: both;
}
.comments-list .comment-box:before,
.comments-list .comment-box:after {
    content: '';
    height: 0;
    width: 0;
    position: absolute;
    display: block;
    border-width: 10px 12px 10px 0;
    border-style: solid;
    border-color: transparent rgba(0, 0, 0, .075);
    top: 8px;
    left: -11px;
}
.comments-list .comment-box:before {
    border-width: 11px 13px 11px 0;
    border-color: transparent rgba(0, 0, 0, 0.05);
    left: -12px;
}
.comment-box .comment-head {
    background: rgba(0, 0, 0, .075);
    padding: 10px 12px;
    border-bottom: 1px solid #E5E5E5;
    overflow: hidden;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
}
.comment-box .comment-head i {
    float: right;
    margin-left: 14px;
    position: relative;
    top: 2px;
    color: #A6A6A6;
    cursor: pointer;
    -webkit-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    transition: color 0.3s ease;
}
.comment-box .comment-head i:hover {
    color: #f8b864;
}
.comment-box .comment-name {
    color: #283035;
    font-size: 14px;
    font-weight: 700;
    float: left;
    margin-right: 10px;
}
.comment-box .comment-name a {
    color: #283035;
}
.comment-box textarea {
    height: 70px;
    margin: 0;
}
.comment-box .comment-head span {
    float: left;
    color: #999;
    font-size: 13px;
    position: relative;
    top: 1px;
}
.comment_area {
    height: 70px;
}
.comment-box .comment-content {
    background: #fcfcfc;
    padding: 12px;
    font-size: 15px;
    color: #595959;
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
}
.comment-box .comment-name.by-author,
.comment-box .comment-name.by-author a {
    color: #f8b864;
}
.comment-box .comment-name.by-author:after {
    content: 'autor';
    background: #f8b864;
    color: #FFF;
    font-size: 12px;
    padding: 3px 5px;
    font-weight: 700;
    margin-left: 10px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.reply-list li {
    margin-bottom: 0;
    border-left: 1px solid #ccc;
    padding-bottom: 15px;
}
.reply-list li:last-child {
    padding-bottom: 0;
}
.nav-tabs {
    border-bottom: 2px solid #DDD;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
    border-width: 0;
}
.nav-tabs > li > a {
    border: none;
    color: #666;
}
.nav-tabs > li.active > a,
.nav-tabs > li > a:hover {
    border: none;
    color: #f8b864 !important;
    background: transparent;
}
.nav-tabs > li > a::after {
    content: "";
    background: #f8b864;
    height: 2px;
    position: absolute;
    width: 100%;
    left: 0px;
    bottom: -1px;
    transition: all 250ms ease 0s;
    transform: scale(0);
}
.nav-tabs > li.active > a::after,
.nav-tabs > li:hover > a::after {
    transform: scale(1);
}
.tab-nav > li > a::after {
    background: #21527d none repeat scroll 0% 0%;
    color: #fff;
}
.tab-pane {
    padding: 15px 0;
}
.tab-content {
    padding: 20px
}
.card {
    background: #FFF none repeat scroll 0% 0%;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
    margin-bottom: 30px;
}
section.stats {
    display: flex;
}
section.stats div {
    flex: 1;
    border-bottom: 1px solid #d4d4d4;
    padding: 10px;
}
section.stats div a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #696969;
}
section.stats div a:hover {
    color: #9C9C9C;
}
section.stats strong {
    font-size: 20px;
}
nav.menu {
    display: flex;
    border-radius: 0 0 2px 2px;
}
nav.menu a {
    flex: 1;
    color: #696969;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    text-decoration: none;
}
nav.menu a:hover {
    color: #f8b864;
}
.twPc-div {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #e1e8ed;
    border-radius: 6px;
    max-width: 340px; // orginal twitter width: 290px;
}
.twPc-div .opacity {
    opacity: 0.4;
    width: 100%;
    height: 100px;
}
.profile__user {
    position: relative;
}
.twPc-block {
    display: block !important;
}
.twPc-button {
    margin: -35px -10px 0;
    text-align: right;
    width: 100%;
}
.twPc-avatarLink {
    background-color: #fff;
    border-radius: 6px;
    display: inline-block !important;
    float: left;
    margin: -30px 5px 0 8px;
    max-width: 100%;
    padding: 1px;
    vertical-align: bottom;
}
.twPc-avatarImg {
    border: 2px solid #fff;
    border-radius: 7px;
    box-sizing: border-box;
    color: #fff;
    height: 72px;
    width: 72px;
}
.twPc-divUser {
    margin: 5px 0 0;
}
.twPc-divName {
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
}
.twPc-divName a {
    color: inherit !important;
}
.twPc-divStats {
    margin-left: 11px;
    padding: 10px 0;
}
.twPc-Arrange {
    box-sizing: border-box;
    display: table;
    margin: 0;
    min-width: 100%;
    padding: 0;
    table-layout: auto;
}
ul.twPc-Arrange {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.twPc-ArrangeSizeFit {
    display: table-cell;
    padding: 0;
    vertical-align: top;
}
.twPc-ArrangeSizeFit a:hover {
    text-decoration: none;
}
.twPc-StatValue {
    display: block;
    font-size: 18px;
    font-weight: 500;
    transition: color 0.15s ease-in-out 0s;
}
.twPc-StatLabel {
    color: #8899a6;
    font-size: 10px;
    letter-spacing: 0.02em;
    overflow: hidden;
    text-transform: uppercase;
    transition: color 0.15s ease-in-out 0s;
}
